{
  "redirects": {
    "host/": "https://another.host"
  },
  "tlsonly": [
    "another.host"
  ]
  "buckets": {
    "default":         "yummy-weasel",
    "www.example.com": "another-bucket"
  },
  "webroot": "/",
  "index": "index.html",
  "hook": "/-/hook/gcs",
  "gcs": "https://storage.googleapis.com"
}
